name: Deploy to Github Pages
on
push:
branches: ["main", "master"] Chạy khi có code nơi đây lên nhành main hoặc master
workflow_dispatch:
permissions:
contents: read
pages: write
Id-token: write
concurrency:
group: "pages"
cancel-in-progress: false
jobs:
build:
runs-on: ubuntu-latest
steps:
- name: Checkout
uses: actions/checkout@v4
- name: Setup Node
uses: actions/setup-node@v4
with:
node-version: "20"
name: Install dependencies
run: npm install
name: Build
run: npm run build 
# Dòng này sẽ lấy API Key từ lược 1 bạn đã cài để đưa vào wet
GEMINI API KEY: ${{ secrets.GEMINI API KEY }}
name: Upload artifact
uses: actions/upload-pages-artifact@v3
with:
path: ./dist
deploy:
environment:
name: github-pages
url: ${{ steps.deployment.outputs.page_url }}
runs-on: ubuntu-latest
needs: build
steps:
- name: Deploy to Github l'ages
id: deployment
uses: actions/deploy-pages@v4
